body{
    font-family: 'Raleway', sans-serif;
    margin-top:0px ;
}
#header{
    background-color: rgba(228, 63, 200, 0.884);
    box-shadow: 0px 2px 10px 1px #aaaaaa;
    display: flex;
    padding: 5px;
    margin-bottom: 100px;
    
}

.header-logo{
    width: 60%;
}

.header-logo h1{
    font-size: 18px;
    font-weight: bolder;
    font-style: italic;
    color: white;
    background: pink;
    width: 90px;
    margin-left: 10px;
    padding: 11px;
    border-radius: 18px;
}

.header-list{
    width: 40%;
}

.header-list li{
    list-style-type: none;
}

.header-list li ul{
    margin-top: 25px;
}

.header-list li ul a{
    text-decoration: none;
   
    padding: 10px;
    color: white;
    font-weight: bold;
 
}

#diet{
    display:flex;
    margin-bottom: 150px;
}

.half-width{
width:50%
}

.half-width h1{
    line-height: 66px;
    font-size:50px ;
    font-weight: bold;
    margin-top: 74px;
    margin-left: 20px;
}

span{
    color:rgb(216, 22, 86);
}

.half-width p{
    text-align: left;
   margin-left: 30px;
    margin-bottom: 40px;
    line-height: 25px;
    font-size: 18px;
    font-weight: bold;
    color: gray;
}

.link-button{
    text-decoration: none;
    font-weight: bold;
    margin-left: 20px;
    background-image: linear-gradient(rgb(231, 54, 113),pink);
    color:white;
    padding: 15px 32px;
    border-radius: 30px;
   
}

.female1{
    width:500px;
}

.female2{
    width: 343px;
    margin-left: 134px;
}

#about-us{
    padding-top: 50px;
    display: flex;
    margin-bottom: 150px;
    background-image: url(images/Frame59.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.full-width{
    margin: 0 auto;
}

.full-width h1 ,p{
    text-align: center;
}

.full-width h1{
    font-size: 50px;
    font-weight: bold;
    color: gray;
}

#recipie-blog{
    display: flex;
   margin-left: 100px;
   margin-top: 100px;
   margin-bottom: 150px;
}

.recipie1{
    width:25%;
    padding: 20px;
    background-color: white;
    color: black;
    border: 1px solid #BFBFBF;
    border-radius: 20px;
    box-shadow: 1px 4px 18px  #aaaaaa;

}
.recipie1 p{
    text-align: justify;
    line-height: 30px;
}
.recipie1 img{
    width:300px;
    margin-left: 3px;
    
    }

.recipie2{
    width:25%;
    padding: 20px;
    margin-left: 40px;
    background-color: white;
    color: black;
    border: 1px solid #BFBFBF;
    border-radius: 20px;
    box-shadow: 1px 4px 18px  #aaaaaa;

}

.recipie2 img{
    width:300px;
    margin-left: 3px;
    
    }

.recipie2 p{
        text-align: justify;
        line-height: 30px;
    }    
   
.recipie3{
    width:25%;
    padding: 20px;
    margin-left: 40px;
    background-color: white;
    color: black;
    border: 1px solid #BFBFBF;
    border-radius: 20px;
    box-shadow: 1px 4px 18px  #aaaaaa;

}
.recipie3 img{
    width:300px;
    margin-left: 3px;
    
    }
.recipie3 p{
        text-align: justify;
        line-height: 30px;
    }    
#follow-us{
        display: flex;
        border-radius: 20px;
        box-shadow: 1px 4px 18px  #aaaaaa;
        border: 1px solid #BFBFBF;
        margin-bottom: 150px;
    }
   
.youtube-section{
width: 30%;
margin-left: 200px;
    }
    .youtube-section h1{
        font-size: 60px;
        font-weight: bold;
        color:rgb(231, 54, 113) ;
    }
.instagram-section{
    width: 30%;
}
.instagram-section h1{
    font-size: 60px;
    font-weight: bold;
    color:rgb(231, 54, 113) ;
}

.dibbble-section{
    width: 30%;
}
.dibbble-section h1{
    font-size: 60px;
    font-weight: bold;
    color:rgb(231, 54, 113) ;
}
Footer{
    padding: 20px;
    height: 200px;
    background-color: black;
}
Footer h1{
    margin-left: 112px;;
    margin-top: 50px;
    text-align: center;
    font-size: 70px;
}
footer p{
    color: white;
    text-align: center;
    margin-top: 50px;
    margin-right: 33px;
}
.blog{
    color: gray;
}

